In [1]:
n = 10

In [2]:
l =[0]*n

In [3]:
l

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [4]:
for i in range(n):
    l[i] = input()

1
2
3
4
5
6
7
8
9
1

In [5]:
l

['1', '2', '3', '4', '5', '6', '7', '8', '9', '1']

In [6]:
l = []
for i in range(n):
    l.append(input())

a
s
r
t
y
u
i
o
k
l

In [7]:
l

['a', 's', 'r', 't', 'y', 'u', 'i', 'o', 'k', 'l']

## OOPs

      Object Oriented Programming

In [8]:
l = [12,3,4,5]

In [9]:
#l-->object , class-->list class

In [10]:
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

## Concepts of OOPs are:
       1. Class
       2. Objects
       3. Encapsulation
       4. Abstraction
       5. Inheritance
       6. Message Passing
       7. Polymorphism

## Class
    where you can define attributes and methods together....it defined some
    set of rules for the objects.
## Objects
     instance of a class through which you can access the methods and 
     attributes of a function.

In [11]:
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [14]:
l.__init__([1,2,3,4])

In [15]:
l

[1, 2, 3, 4]

In [17]:
print(l.__doc__)

Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [18]:
l = [12,34,5,6,78]

In [19]:
l.__init__([10,20,30,40])

In [20]:
l

[10, 20, 30, 40]

###### Fuction Overloading

void abc(){
printf("hello world")
}
void abc(a,b){
printf(a+b)
}
void abc(a,b,c){
printf(a+b+c)
}

In [23]:
a = 10

In [24]:
a

10

In [25]:
a = 20

In [26]:
a

20

In [27]:
a()

TypeError: 'int' object is not callable

In [31]:
def a(a,b):
    return a+b

In [32]:
id(a)

1866473280568

In [35]:
def a():   #function overriding
    return "hello world"

In [34]:
id(a)

1866473279992

In [30]:
a(10,20)

TypeError: a() takes 0 positional arguments but 2 were given

In [36]:
l = [1,2,3,4,5]

In [37]:
print(type(l))

<class 'list'>

In [38]:
l.append(10)

In [39]:
help(l.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [40]:
class abc:
    pass

In [41]:
id(abc)

1866462122952

In [42]:
a = 23.67
b = 23.67

In [43]:
id(a) == id(b)

False

In [44]:
a = 255
b = 255

In [45]:
id(a)

140704783253840

In [46]:
id(b)

140704783253840

In [47]:
a = 256
b = 256

In [48]:
id(a)

140704783253872

In [49]:
id(b)

140704783253872

In [50]:
a = 257
b = 257

In [51]:
id(a)

1866473390160

In [52]:
id(b)

1866473390288

In [53]:
2**8

256

In [54]:
a = "hello world"
b = "hello world"

In [55]:
id(a)

1866472632368

In [56]:
id(b)

1866472632752

In [57]:
ord(" ")

32

In [59]:
class abc:   #using class keyword you can define the class
    pass

In [60]:
obj = abc()    #declaring object

In [64]:
l = list()     #l becomes the objevct of list class

In [65]:
l.__init__([1,2,3,4,5,6])

In [66]:
l

[1, 2, 3, 4, 5, 6]

In [67]:
print(dir(obj))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__']

In [68]:
class abc(object):
    pass

In [69]:
obj = abc()

In [70]:
print(dir(obj))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__']

In [72]:
print(obj.__dir__())

['__module__', '__dict__', '__weakref__', '__doc__', '__repr__', '__hash__', '__str__', '__getattribute__', '__setattr__', '__delattr__', '__lt__', '__le__', '__eq__', '__ne__', '__gt__', '__ge__', '__init__', '__new__', '__reduce_ex__', '__reduce__', '__subclasshook__', '__init_subclass__', '__format__', '__sizeof__', '__dir__', '__class__']

In [74]:
class abc:
    """This is documentation"""

In [75]:
obj = abc()

In [76]:
obj.__doc__

'This is documentation'

In [77]:
abc.__doc__

'This is documentation'

In [80]:
class A:
    a = 10   #class Variable

In [81]:
obj = A()

In [83]:
obj.a    #.--> access specifier

10

In [84]:
class Human:
    gender = "male"   #class variable/attribute
    def getname():
        name = input("Enter your name : ")
        Human.name = name   #set the class attribute name whose value is name

In [85]:
h1 = Human()

In [86]:
h1.gender

'male'

In [87]:
Human.gender

'male'

In [88]:
Human.getname()

Enter your name : sachin

In [89]:
Human.name

'sachin'

In [90]:
h1.name

'sachin'

In [91]:
class Person:
    p_type = "employee"
    def set_name(name):
        Person.name = name
    def get_name():
        print("The name of person is : ",Person.name)

In [92]:
Person.p_type

'employee'

In [94]:
Person.set_name("simran")

In [95]:
Person.name

'simran'

In [96]:
Person.get_name()

The name of person is :  simran

In [97]:
p1 = Person()
p2 = Person()

In [98]:
p1.name

'simran'

In [99]:
p2.name

'simran'

In [100]:
p1.p_type

'employee'

In [101]:
p2.p_type

'employee'

In [103]:
p1.set_name("simran")    #set_name(object(p1),"simran") --> set_name("simran")

TypeError: set_name() takes 1 positional argument but 2 were given

In [104]:
l =[1,2,3,4]

In [105]:
l.append(10)   #l.append(l,10) and this object is self i.e l

In [106]:
class Person:
    p_type = "employee"
    def set_name(self,name):    #self=object
        self.name = name        #object attributes
    def get_name(self):     
        print("The name is : ",self.name)

In [107]:
p1 = Person()

In [108]:
p1.p_type

'employee'

In [109]:
p1.set_name("simran")

In [110]:
p1.name

'simran'

In [111]:
p2 = Person()

In [112]:
p2.p_type

'employee'

In [113]:
p2.name

AttributeError: 'Person' object has no attribute 'name'

In [114]:
p2.set_name("sachin")

In [115]:
p2.name

'sachin'

In [116]:
p2.get_name()

The name is :  sachin

In [117]:
p3 = Person()

In [118]:
p3.p_type

'employee'

In [119]:
p3.p_type = "student"

In [120]:
p3.p_type

'student'

In [121]:
p2.p_type

'employee'

In [122]:
p3.set_name("stuti")

In [123]:
p3.get_name()

The name is :  stuti

In [125]:
p1.__dict__

{'name': 'simran'}

In [126]:
p3.__dict__

{'p_type': 'student', 'name': 'stuti'}

In [127]:
for attr,value in p3.__dict__.items():
    print(attr,"=",value)

p_type = student
name = stuti

In [130]:
for i in [p1,p2,p3]:
    for attr,value in i.__dict__.items():
        print(attr,"=",value)
    print("*"*50)

name = simran
**************************************************
name = sachin
**************************************************
p_type = student
name = stuti
**************************************************

1. Make a class of name student
2. set attributes of object-->name,rollno,subject
3. user any another variable inspite of self

In [132]:
class Student:
    def set_values(abc,name,rollno,subject):
        abc.name = name
        abc.rollno = rollno
        abc.subject = subject
        
    def get_values(abc):
        for attr,value in abc.__dict__.items():
            print(attr,"=",value)

In [133]:
s1 = Student()

In [134]:
s1.set_values("stuti",20,"python")

In [135]:
s1.get_values()

name = stuti
rollno = 20
subject = python

In [136]:
s2 = Student()
s2.set_values("rahul",22,"aws")

In [137]:
s2.get_values()

name = rahul
rollno = 22
subject = aws

In [138]:
s1.name

'stuti'

In [139]:
s1.rollno

20

In [140]:
s1.subject

'python'

In [141]:
s1.age = 20

In [142]:
s1.age

20

In [143]:
s2.age

AttributeError: 'Student' object has no attribute 'age'

In [144]:
s1.get_values()

name = stuti
rollno = 20
subject = python
age = 20

In [191]:
s3 = Student()

In [192]:
s3.__dict__

{}

In [147]:
Student.__dict__

mappingproxy({'__module__': '__main__',
              'set_values': <function __main__.Student.set_values(abc, name, rollno, subject)>,
              'get_values': <function __main__.Student.get_values(abc)>,
              '__dict__': <attribute '__dict__' of 'Student' objects>,
              '__weakref__': <attribute '__weakref__' of 'Student' objects>,
              '__doc__': None})

In [148]:
Person.__dict__

mappingproxy({'__module__': '__main__',
              'p_type': 'employee',
              'set_name': <function __main__.Person.set_name(self, name)>,
              'get_name': <function __main__.Person.get_name(self)>,
              '__dict__': <attribute '__dict__' of 'Person' objects>,
              '__weakref__': <attribute '__weakref__' of 'Person' objects>,
              '__doc__': None})

In [149]:
import inspect

In [169]:
inspect.ismethod(s1.get_values)

True

In [166]:
inspect.isfunction(s1.get_values)

False

In [171]:
inspect.ismethod(Student.get_values)

False

In [172]:
inspect.isfunction(Student.get_values)

True

## Constructors

In [173]:
#__init__ --> constructor

In [174]:
class A:
    pass

In [175]:
obj = A()   #__init__

In [176]:
obj.name = "simran"
obj.city = "jaipur"
obj.state = "rajasthan"
obj.skills = ['python','web dev','data science','ml']

In [177]:
obj.__dict__

{'name': 'simran',
 'city': 'jaipur',
 'state': 'rajasthan',
 'skills': ['python', 'web dev', 'data science', 'ml']}

In [ ]:
class Employee:
    count = 0
    def __init__(self,name,city,state,skills=No

In [193]:
class Employee:
    count = 0
    def __init__(self,name,city,state,skills=None):
        self.name = name
        self.city = city
        self.state = state
        self.skills = skills
        Employee.count += 1
        
    def get_values(self):
        for attr,value in self.__dict__.items():
            print(attr,"=",value)
            
    def get_total():
        print("The total number of employees are : ",Employee.count)

In [194]:
e1 = Employee("simran","jaipur","raj")

In [180]:
e2 = Employee()

TypeError: __init__() missing 4 required positional arguments: 'name', 'city', 'state', and 'skills'

In [187]:
e2 = Employee("manish","jaipur","raj",['python','linux','ethical hacking'])

In [188]:
e2.get_values()

name = manish
city = jaipur
state = raj
skills = ['python', 'linux', 'ethical hacking']

In [189]:
e1.get_values()

name = simran
city = jaipur
state = raj
skills = ['python', 'linux', 'ml']

In [190]:
Employee.get_total()

The total number of employees are :  2